* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card-wrapper {
    position: relative;
    width: 650px;
    height: 450px; 
}

.card {
    background-color: lightgrey;
    border-radius: 10px;
    width: 440px;
    height: 250px;
    box-shadow: 12px 12px 18px rgba(0, 0, 0, 0.35); 
    position: absolute;
}

input {
    font-size: 16px;
    color: #555;
    padding: 8px 10px;
    border: 1px solid #777;
    border-radius: 3px;
    outline: none;
    width: 100%;
}

.card-back {
    top: 65px;
    left: 150px;
    z-index: 1;
}

.magnetic-stripe {
    background-color: black;
    height: 50px;
    width: 100%;
    margin-top: 40px;
}

.cvc-group {
    position: absolute;
    top: 130px;
    right: 30px;
    width: 90px;
}

.card-front {
    top: 0;
    left: 0;
    z-index: 2;
    padding: 25px 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
    align-content: space-between;
}

.front-top-left {
    grid-column: 1 / 2;
    align-self: start;
}

.front-top-right {
    grid-column: 2 / 3;
    justify-self: end;
}

.card-icon {
    font-size: 40px;
    line-height: 0.8;
}

.number-group {
    grid-column: 1 / 3;
}

.front-bottom {
    grid-column: 1 / 3;
    display: grid;
    grid-template-columns: 2fr 1.2fr;
    gap: 15px;
}

.exp-inputs {
    display: flex;
    gap: 5px;
}

.submit-btn {
    position: absolute;
    top: 340px;
    left: 450px;
    padding: 12px 30px;
    font-size: 18px;
    background-color: lightgrey;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    cursor: pointer;
    transition: transform 0.1s;
}

.submit-btn:active {
    transform: translate(2px, 2px);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
}

.feedback-message {
    position: absolute;
    bottom: 20px;
    left: 0;
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
}

.error { color: red; }
.success { color: green; }