@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&display=swap");

body {
	max-width: 1200px;
	margin: 0 auto;
	padding: 4em;
	font-size: 18px;
	text-align: center;
}

img {
	display: block;
	margin: 0 auto;
	max-width: 75%;
	max-height: 500px;
}

hr {
	height: 3px;
	margin: 35px 0;
	background: #EDAFB8;
	border: none; 
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Oswald';
	color: #576490;
}

h2 {
	text-align: center;
}

p {
	font-family: 'Open Sans';
	color: #576490;
	padding: 1em;
}

p.colored {
	background-color: #EDAFB8;
	color: #576490;
}

header {
	padding: 1em;
	text-align: center;
	color: #576490;
	background-color: #EDAFB8;
}

h1, h2 {
	color: #576490;
}

nav {
	background-color: #576490;
	line-height: 3em;
	text-align: center;
	font-size: 1.2em;
	list-style-type: none;
	display: flex;
	justify-content: center;
}

nav a {
	padding: 10px 1em;
	min-width: 120px;
	text-decoration: none;
}

nav a:link,
nav a:visited {
	color: white;
}

nav a:hover {
	color: #576490;
	background-color: #EDAFB8;
}

.colors {
	width: 100%;
	min-width: 350px;
	margin: 30px auto;
	text-align: center;
	border-collapse: collapse;
}

.colors th {
	background-color: #999;
}

.colors td {
	width: 25%;
	height: 3em;
}

.primary { background-color: #576490; }
.secondary { background-color: #EDAFB8; }
.accent1 { background-color: white; }
.accent2 { background-color: black; }

.top {
	grid-area: top;
	border-left: 1px solid;
}

.left {
	grid-area: left;
	border-top: 1px solid;
	border-left: 1px solid;
}

.right {
	grid-area: right;
	border-top: 1px solid;
	border-right: 1px solid;
}

li {
	list-style: none;
	color: #576490;
}