.container {
	max-width: 600px;
	margin: 0 auto;
	background-color: white;
	border: 1px solid #000;
	padding: 75px 150px;
}

.content {
	text-align: center;
}

h1 {
	font-size: 40px;
	font-weight: normal;
	letter-spacing: 5px;
	color: #000;
}

h2 {
	font-size: 15px;
	font-weight: normal;
	letter-spacing: 5px;
	color: #467dea;
	margin-bottom: 50px;
	border-bottom: 1px solid #e2e0e0;
}

p {
	text-align: left;
	font-size: 20px;
	color: #000;
	margin-bottom: 20px;
}

.university-does {
	font-style: italic;
}

.mission-list {
	text-align: left;
	margin-left: 10px;
}

.mission-list li {
	line-height: 1.5;
	font-size: 20px;
	margin-bottom: 15px;
	color: #000;
}

.logo {
	margin-top: 80px;
	text-align: center;
}

.logo img {
	max-width: 150px;
	height: auto;
	display: block;
	margin: 0 auto;
}

#theme-select {
    position: fixed;
    top: 20px;
    left: 20px;
    padding: 8px 12px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: white;
    cursor: pointer;
}