* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Georgia, serif;
    line-height: 1.6;
    color: black;
    background-color: white;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    background-color: white;
}

header {
    padding: 20px;
}

h1 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 15px;
    font-weight: bold;
}

nav {
    border-top: 2px solid #f5a962;
    border-bottom: 2px solid #f5a962;
    padding: 25px 15px;
    text-align: right;
}

nav a {
    color: #ae1c30;
    text-decoration: none;
    margin: 0 15px;
    font-size: 1.2rem;
}

nav a:hover {
    text-decoration: underline;
}

main {
    padding: 0px 20px;
}

.post-meta {
    text-align: right;
    margin-bottom: 20px;
    font-style: italic;
    color: black;
    font-size: 1rem;
}

.post-meta div {
    margin: 5px 0;
}

.stars {
    letter-spacing: 2px;
    font-style: normal;
}

article {
    margin-bottom: 20px;
}

.article-title {
    color: #ae1c30;
    font-size: 1.5rem;
    margin-bottom: 20px;
    text-align: left;
    font-weight: bold;
}

.book-cover {
    text-align: center;
    margin: 30px 0;
}

.book-cover img {
    max-width: 200px;
    height: auto;
}

.review-text {
    font-size: 1.2rem;
    text-align: left;
    margin: 30px 0;
    line-height: 1;
}

footer {
    text-align: center;
    padding: 20px;
    border-top: 2px solid #f5a962;
    color: black;
}

@media (min-width: 768px) {
    
    header {
        padding: 30px 0;
    }

    h1 {
        margin: 0;
        padding-bottom: 20px;
        text-align: center;
    }

    main {
        display: grid;
        grid-template-columns: 1fr 3fr;
        gap: 60px;
        margin-bottom: 20px;
    }

    .post-meta {
        text-align: right;
        border-right: 2px solid #f5a962;
        padding-right: 40px;
        padding-bottom: 250px;
        margin-bottom: 20px;
    }

    footer {
        padding: 20px 40px;
        width: 100%;
    }
}