@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

body {
	font-family: Roboto, sans-serif;
	margin: 0;
}

header,
main,
footer {
	max-width: 1000px;
	margin: 1rem auto;
	border: 1px solid #ccc;
	padding: 1rem;
	background-color: lightblue;
}

header {
	display: flex;
	align-items: center;
}

h1 {
	margin: 0 auto;
	font-size: 1.5rem;
	text-align: center;
}

nav a {
	display: none;
	padding: 0.5rem;
	color: black;
	text-decoration: none;
}

nav a:hover {
	color: #616061;
}

.menu-btn {
	cursor: pointer;
	border: none;
	background-color: transparent;
	display: block;
	margin-right: auto;
}

.bar1,
.bar2,
.bar3 {
	width: 30px;
	height: 4px;
	background-color: black;
	margin: 5px 0;
}

main {
	display: block;
}

section {
	padding: 1rem;
	background-color: white;
	margin: 0.5rem;
	border: 1px solid #ccc;
}

footer {
	text-align: left;
	font-size: 0.9rem;
}

@media screen and (min-width: 768px) {
	.menu-btn {
		display: none;
	}

	nav {
		margin-left: auto;
	}

	nav a {
		display: inline-block;
		margin-left: 1rem;
	}

	main {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 1rem;
	}

	section {
		padding: 1.5rem;
	}
}

@media screen and (min-width: 1024px) {
	body {
		font-size: 18px;
	}

	main {
		grid-template-columns: repeat(3, 1fr);
		gap: 1.5rem;
	}

	nav a {
		margin-left: 2rem;
	}

	section {
		padding: 2rem;
	}
}
