@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

body {
	font-family: Roboto, sans-serif;
}

header,
main,
footer {
	max-width: 1000px;
	margin: 1rem auto;
	border: 1px solid #ccc;
	padding: 1rem;
	background-color: lightblue;
}

h1 {
	text-align: center;
}

section {
	padding: 20px;
	background-color: white;
	margin: 1em;
	border: 1px solid #ccc;
}

nav a {
	padding: 20px;
	color: black;
	display: none;
	border-top: 1px solid #333;
	text-align: center;
	text-decoration: none;
}

nav a:hover {
	text-decoration: none;
	color: #616061;
}

.menu-btn {
	border: none;
	background-color: transparent;
}

.bar1,
.bar2,
.bar3 {
	width: 30px;
	height: 4px;
	background-color: black;
	margin: 5px 0;
	transition: 0.4s;
}
footer {
	text-align: center;
}

.hide {
	display: none;
}

.change .bar1 {
	transform: translate(0, 9px) rotate(-45deg);
}

.change .bar2 {
	opacity: 0;
}

.change .bar3 {
	transform: translate(0, -9px) rotate(45deg);
}

@media screen and (min-width: 768px) {
	.menu-btn {
		display: none;
	}

	nav {
		display: flex;
		justify-content: flex-end;
		gap: 1rem;
	}

	nav a {
		display: inline-block;
		border-top: none;
	}

	main {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 1rem;
	}

	section {
		margin: 0;
		padding: 1.5rem;
	}
}

@media screen and (min-width: 1024px) {
	header,
	main,
	footer {
		max-width: 100%;
	}

	body {
		font-size: 20px;
	}

	h1 {
		font-size: 2rem;
	}

	main {
		grid-template-columns: repeat(3, 1fr);
		gap: 1.5rem;
	}

	section {
		padding: 2rem;
	}
}
