#content {
	max-width: 900px;
	margin: 0px auto;
	padding: 80px 40px;
	background-color: #e6e6e6;
	border: 1px solid #bfbfbf;
	text-align: center;
}

h1 {
	font-size: 2.2rem;
}

#content > p {
	color: #1a73b8;
	font-size: 1.4rem;
}

hr {
	width: 70%;
	margin: 20px auto 30px;
	border-top: 3px solid #1a73b8;
}

img {
	display: block;
	margin: 0 auto 40px;
	max-width: 350px;
}

#topics {
	max-width: 400px;
	margin: 0 auto;
	text-align: left;
}

#topics h2 {
	font-size: 1.5rem;
	font-weight: bold;
    text-align: center;
}

.list {
	list-style: none;
}

.list li {
	font-size: 1rem;
	margin-bottom: 10px;
    line-height: 1.1;
}

#webdevlist {
	display: block;
	align-items: left;
}